/* Google Font (Poppins) */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@400;500;700&display=swap');

/* Whole Page CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Css Variables */
:root{
  --BG1 : #51e2f5;
  --BG2 : #9df9ef;
  --BG3 :  #ffa8B6;
  --BG4 :   #a0d2eb;
  --BG5 :  #d0bdf4;
  --BG6 :  #8458B3;
  --BG7 :  #a28089;
}

body{
  background-color: var(--BG4);
  color: #fff;
}